# Dependencies
/node_modules
/.pnp
.pnp.js

# React Router & Vite
.react-router/
/build
.cache

# Testing & Coverage
/coverage

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & OS
.DS_Store
Thumbs.db
*.pem

# IDEs & Editors
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
